
.container {
  margin: 0 auto;
  max-width: 610px;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 160px;
  padding: 0 8px;
}
.form-wrapper {
  text-align: left;
  display: inline-block;
  margin-bottom: 8px;
}
.input-field {
  margin-top: 8px;
}
.input-field > label {
  margin-right: 8px;
}
.roomInfo-field {
  text-align: center;
  display: inline-block;
  margin-bottom: 16px;
}
.roomInfo-field > p {
  margin: 7px 0;
}
.select-wrapper {
  text-align: center;
  margin: 0 auto;
  display: flex;
  max-width: 600px;
  flex-wrap: wrap;
  align-content: space-between;
}
.select-wrapper > span {
  width: 25%;
  margin-bottom: 8px;
}
.selected-number {
  margin-bottom: 8px;
  display: inline-block;
}
#reset {
  margin-right: 16px;
}
.log {
  text-align: left;
  display: inline-block
}
.button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 120px;
}
